
{{>admin-header}}



<section>
  
   <table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">product Name</th>
      <th scope="col">category</th>
      <th scope="col">price</th>
      <th scope="col">shortDescription</th>
      <th scope="col">image</th>
      <th scope="col">options</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each allProducts}}
<tr>
  <th scope="row">{{@index}}</th>
  <td>{{this.product}}</td>
  <td>{{this.category}}</td>
  <td>{{this.Price}}</td>
  <td>{{this.description}}</td>
  <td><img src="/images/{{this.image._id}}" alt="Image failed to load" style="width: 100px;"></td>
  <td><a href="/admin/edit-products?id={{this._id}}" class="btn btn-success">Modify</a></td>
  <td><a href="/admin/delete-product?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are you wanted to delete {{this.name}}?')">Delete</a></td>

</tr>
{{/each}}

  </tbody>
</table>
</section>
<script>
$(document).ready(function() {
    $('#myTable').DataTable();
});
</script>

